# Copy this file to ovh_config.sh, and replace with actual values
export AWS_ACCESS_KEY_ID=...
export AWS_SECRET_ACCESS_KEY=...

export OVH_ENDPOINT="ovh-eu"

export OVH_APPLICATION_KEY=...
export OVH_APPLICATION_SECRET=...
export OVH_CONSUMER_KEY=...

export TF_VAR_project_name=...
